/*h3{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cadetblue;
}*/
h1{
    margin: 30px;
    padding: 30px;
    font-style: italic;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:coral;
}
/*
h2{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cadetblue;
}
/*p{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}
p{
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
}

.h1
{
    color: forestgreen;
    font-size: 40px;
}
.h2
{
    color: red;
    font-size: 22px;
    font-style: inherit;
}
.A
{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin-bottom: 10px;
}
.B
{
    margin-top: 10px;
    width: 250px;
    height: 100px;
    background-color: red;
    margin-bottom: 10px;
    font-style: inherit;
}
.C
{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-bottom: 10px;
    border-radius: 50%;
}
.E
{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.F
{
    font-style: oblique;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}*/

.div1
{
    width: 200px;
    height: 70px;
    background-color: red;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.div2
{
    width: 200px;
    height: 70px;
    background-color: yellow;
}
.div3
{
    width: 200px;
    height: 70px;
    background-color: green;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.divmaman1
{
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
}

.div4
{
    width: 200px;
    height: 70px;
    background-color: blue;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
}
.div5
{
    width: 200px;
    height: 70px;
    background-color: yellow;
}
.div6
{
    width: 200px;
    height: 70px;
    background-color: red;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.divmaman2
{
    margin-top: 10px;
    margin-right: 10px; 
    display: flex;
    flex-direction: column;
}


.div7
{
    width: 70px;
    height: 200px;
    background-color: red;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.div8
{
    width: 70px;
    height: 200px;
    background-color: yellow;
}
.div9
{
    width:70px;
    height:200px;
    background-color: green;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.divmaman3
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.div10
{
    width: 70px;
    height: 200px;
    background-color: blue;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.div11
{
    width: 70px;
    height: 200px;
    background-color: yellow;
}
.div12
{
    width: 70px;
    height: 200px;
    background-color: red;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.divmaman4
{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}
.container {
    width: 90%; /* Utilisation d'une largeur relative */
    padding: 1em; /* Espacement flexible */
  }
  